<%=@tweet.content%>
<a href="/tweets/<%=@tweet.id%>/delete">Delete Tweet</a>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input type="submit" value="Delete Tweet" id="Delete Tweet"></input>
</form>
